.spinner {
    animation: rotate 2s linear infinite;
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
